---
layout: default
title: Blog
permalink: /blog/
---

<h1>All Posts</h1>

{% for post in site.posts %}
  <article style="margin: 2rem 0; padding-bottom: 2rem; border-bottom: 1px solid #eff0f1;">
    <h2 style="margin-bottom: 0.5rem;">
      <a href="{{ post.url | relative_url }}" style="text-decoration: none; color: #159957;">{{ post.title }}</a>
    </h2>

    <div class="post-meta">
      <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>

      {% if post.categories.size > 0 %}
        <div class="post-categories">
          Categories:
          {% for category in post.categories %}
            <a href="{{ '/categories/' | relative_url }}#{{ category | slugify }}">{{ category }}</a>
          {% endfor %}
        </div>
      {% endif %}

      {% if post.tags.size > 0 %}
        <div class="post-tags">
          Tags:
          {% for tag in post.tags %}
            <a href="{{ '/tags/' | relative_url }}#{{ tag | slugify }}">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    {% if post.excerpt %}
      <p>{{ post.excerpt | strip_html | truncate: 200 }}</p>
      <a href="{{ post.url | relative_url }}">Read more &raquo;</a>
    {% endif %}
  </article>
{% endfor %}
