---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* Custom code block styling */
.highlight {
  padding-left: 1rem !important;
}

div[class^='language-'] > pre {
  padding-left: 1.5rem !important;
}

code.highlighter-rouge {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
