---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* Custom code block styling */
.highlight {
  padding-left: 1rem !important;
}

/* Preserve whitespace and line breaks in code blocks */
.highlight > code {
  display: block;
  white-space: pre !important;
  padding: 1rem !important;
  overflow-x: auto;
}

div[class^='language-'] > pre {
  padding-left: 1.5rem !important;
}

code.highlighter-rouge {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
